body{
    background-color: black;
    height: 100vh;
}

section{
    font-family: Sans-serif;
    text-align: center;
    color: grey;
}

img{
    border: 0;
    margin: 0%;
    animation-duration: 5s;
    animation-name: transition;
    animation-iteration-count: infinite;
}
    @keyframes transition {
        from {
            opacity: 0;
          }
        50%{
            opacity: 50;
        }
          to {
            opacity: 0;
          }
        
    }